In [6]:
import pandas as pd
import numpy as np
import polypy
import matplotlib.pyplot as plt

In [7]:
cities = "c:\\Resources\\Project\\10_City_update_2.csv"
cities_data_df = pd.read_csv(cities)
cities_data_df.head()

,Year,CityName,MeasureId,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Sample_Population,Category
0,2017,Philadelphia,BINGE,19.7,19.6,19.7,1526006,Binge drinking among adults aged >=18 Years
1,2017,New York,BINGE,17.8,17.8,17.8,8175133,Binge drinking among adults aged >=18 Years
2,2017,Chicago,BINGE,20.2,20.1,20.2,2695598,Binge drinking among adults aged >=18 Years
3,2017,Houston,BINGE,17.8,17.8,17.9,2099451,Binge drinking among adults aged >=18 Years
4,2017,San Antonio,BINGE,18.4,18.3,18.4,1327407,Binge drinking among adults aged >=18 Years

In [8]:
census = "c:\\Resources\\Project\\census_data_2016-2017.csv"
census_data_df = pd.read_csv(census)
census_data_df.head()

   Year     CityName  Census_Population
0  2017      Chicago            2970331
1  2017       Dallas            1371575
2  2017      Houston            3155878
3  2017  Los Angeles            2485570
4  2017     New York            1643736

In [9]:
merge_data_df = pd.merge(cities_data_df,census_data_df, on="CityName", suffixes=("_Medical","_Census"))
                 
merge_data_df.head()

,Year_Medical,CityName,MeasureId,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Sample_Population,Category,Year_Census,Census_Population
0,2017,Philadelphia,BINGE,19.7,19.6,19.7,1526006,Binge drinking among adults aged >=18 Years,2017,2433093
1,2017,Philadelphia,BINGE,19.7,19.6,19.7,1526006,Binge drinking among adults aged >=18 Years,2016,2422752
2,2017,Philadelphia,MHLTH,16.1,16.0,16.2,1526006,Mental health not good for >=14 days among adu...,2017,2433093
3,2017,Philadelphia,MHLTH,16.1,16.0,16.2,1526006,Mental health not good for >=14 days among adu...,2016,2422752
4,2017,Philadelphia,OBESITY,34.1,34.0,34.1,1526006,Obesity among adults aged >=18 Years,2017,2433093

In [ ]:
year = merge_data_df["Year_Medical"]
measure = merge_data_df["Data_Value"]
category = merge_data_df["MeasureId"]
sample_population = merge_data_df["Sample_Population"]
census_population = merge_data_df["Census_Population"]

#new_sample_population = (sample_population/10000)
summary_df = pd.DataFrame({
    "Year" : year,
    "City" : city,
    "Heath value" :data_value,
    "Category" : measure,
    "Sample Population": sample_population,
    "Census Population": census_population
})
summary_df.head